.forget {
  color: #5b58ff;
}

input[type=text],
input[type=password] {
  width: 250px;
  height: 30px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
  border: 1px solid #5b58ff;
}

input[type=checkbox] {
  display: inline;
}

.button {
  text-decoration: none;
  background-color: #5b58ff;
  border: 1px solid #5b58ff;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  padding: 8px;
  margin: 8px;
  width: 120px;
}

.button:hover {
  border: 1px solid #5b58ff;
  background-color: white;
  color: black;
}

.button-rev {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  padding: 10px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
}

.button-rev:hover {
  background-color: white;
  color: black;
}

.container-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  padding: 10px;
}
.container-form > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container-form > form > .entry {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container-form > form > .entry > .name {
  width: 200px;
}
.container-form > form .entry.end {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.container-form > form .entry.end a {
  margin: 10px 30px;
}
.container-form > form input[type=submit] {
  margin-top: 20px;
  width: 150px;
}

@media only screen and (max-width: 500px) {
  .container-form {
    justify-content: flex-start;
    width: 100%;
  }
  .container-form > form > .entry {
    flex-direction: column;
  }
  .container-form > form .entry.end {
    justify-content: flex-start;
    align-items: initial;
  }
  .container-form > form .entry.end a {
    margin: 10px 30px;
  }
}
.not-found {
  background-color: #5b58ff;
  font-size: 70px;
  color: white;
  text-align: center;
  padding: 50px;
}
.not-found a {
  font-size: 0.25em;
  color: white;
}

header {
  min-height: 70px;
  min-width: 330px;
  background-color: #5b58ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .title {
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
header .title a {
  text-decoration: none;
  color: white;
}
header .space {
  flex-grow: 1;
}
header .account {
  display: flex;
  padding-right: 20px;
}
header .account a.link {
  color: white;
  padding: 10px;
  font-size: 14px;
}

@media only screen and (max-width: 380px) {
  header .title {
    font-size: 20px;
    padding: 10px;
  }
}
@media only screen and (min-width: 992px) {
  header > .space {
    width: 992px;
    flex-grow: 0;
  }
}
footer {
  padding: 10px;
  height: 40px;
  background-color: #464646;
  color: white;
  text-align: right;
}

.container-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.container-gallery .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  max-width: 992px;
}
.container-gallery .gallery .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 5px;
}
.container-gallery .gallery .item img {
  width: 250px;
  height: 250px;
}
.container-gallery .gallery .item .info {
  margin-top: 10px;
}

.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #5b58ff;
  color: white;
  border-radius: 5px;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

@media only screen and (min-width: 660px) {
  .gallery {
    justify-content: flex-start;
  }
}
.add-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.add-container > .main {
  height: 480px;
}
.add-container > .main > #video {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
.add-container > .side {
  height: 120px;
}

#canvas {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

section.main {
  flex-grow: 1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
