.collage-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    padding: 10px;

    > img { 
        align-self: center;
        max-width: 100%;
        height: auto;
    }

    > .info {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        > .heart-container {
            > .heart {
                text-decoration: none;
                color: $primary-color;
                font-size: 30px;
            }

            > .heart:hover {
                color: red;
            }
        }
        > .usertime {
            text-align: right;

            > .user {
                color: $primary-color;
            }
        }
    }

    > h3 {
        align-self: center;
    }

    > .comments-container {
        display: flex;
        flex-direction: column;
        > .comment {
            .head {
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            > .text {
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid $primary-color;
                border-radius: 5px;
                min-height: 100px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .collage-container {
        width: auto;
    }
}