<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
            <div class="title">
                <a href="gallery.html">
                    <b>Camagru</b>
                </a>
            </div>
            <div class="space">
            </div>
            <div class="account">
                <a href="registration.html" class="button">Регистрация</a>
                <a href="login.html" class="button">Логин</a>
            </div>
        </header>
    <section class="main">
        <div class="container-registration">
            <div class="registration">
                <h1>Регистрация</h1>
                <form method="POST">
                    <div class="entry">
                        <div class="name">Логин</div>
                        <div class="input"><input type="text" value="" name="login"></div>
                    </div>
                    <div class="entry">
                        <div class="name">Email</div>
                        <div class="input"><input type="text" value="" name="email"> </div>
                    </div>
                    <div class="entry">
                        <div class="name">Пароль</div>
                        <div class="input"><input type="password" value="" name="password"></div>
                    </div>
                    <div class="entry">
                        <div class="name">Повторите пароль</div>
                        <div class="input"><input type="password" value="" name="password"></div>
                    </div>
                    <input type="submit" value="Регистрация" name="submit">
                </form>
            </div>
        </div>
    </section>
    <footer>
        <i>&copy;gmelisan 2019</i>
    </footer>
</body>
</html>