* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

header {
    min-height: 70px;
    min-width: 380px;
    background-color: rgb(91, 88, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > .title {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

header > .space {
    flex-grow: 1;
}

header > .account {
    display: flex;
    padding-right: 20px;
}

.account > a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    padding: 10px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
}

.account > a:hover {
    background-color: white;
    color: black;
}

section.main {
    flex-grow: 1;
}

.container-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.new-button {
    text-decoration: none;
    background-color: rgb(91, 88, 255);
    border: 1px solid rgb(91, 88, 255);
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100px;
}

.new-button:hover {
    border: 1px solid rgb(91, 88, 255);
    background-color: white;
    color: black;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    max-width: 992px;
}

.gallery > .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

.item > .info {
    margin-top: 10px;
}

.gallery img {
    width: 250px;
    height: 250px;
}

.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.pagination a.active {
    background-color: rgb(91, 88, 255);
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

footer {
    padding: 10px;
    height: 40px;
    background-color: rgb(70, 70, 70);
    color: white;
    text-align: right;
}

@media only screen and (min-width: 660px) {
    .gallery {
        justify-content: flex-start;
    }
}
 
@media only screen and (min-width: 992px) {
    header > .space {
        width: 992px;
        flex-grow: 0;
    }
}
 